# Foundry-specific ignores
.foundry/
.DS_Store
/.build
/.index-build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
/dist/
/FoundrySwift-*.zip
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*~
build-docs.log
*rej
*orig
\#*
/libfoundry.xcframework/
/.vscode
.swiftpm/xcode/xcshareddata/xcschemes
GeneratedForDebug/
Sources/FoundrySwift/_generated/*
!Sources/FoundrySwift/_generated/.gitkeep
Tests/FoundrySwiftTestProject/test_results.json
/Testbed/bin/FoundrySwift
.worktrees/
